<% content_for(:head) do %>
  <%= javascript_include_tag "timer.js" %>
<% end %>



<div class="container text-center">
  <div>
    <!-- FIRST LIST ELEMENT ~ WASHER -->
    <div class="row">
      <h3 class="app-title">Washer</h3>
      <div class="app-timer-timer"><span id="time"></span></div></div>
      <div class="app-btns row">
        <a id="reset" href="#" class="btn" role="button">
           <b>&#10226;</b>
        </a>
        <a id="play" href="#" class="btn app-btn-toggle" role="button">
           <span>&#9658;</span><span class="hidden">&#10074;&#10074;</span>
        </a>
        <a id="clear" href="#" class="btn" role="button">
           &#8718;
        </a>
      </div>
      <div class="horizontal-line" style="border-bottom: 1px solid #000">&nbsp;</div>
    </div>

    <div class="row">
      <h3 class="app-title">Dryer</h3>
      <div class="app-timer"><span id="time"></span></div></div>
      <div class="app-btns row">
        <a id="reset" href="#" class="btn" role="button">
           <b>&#10226;</b>
        </a>
        <a id="play" href="#" class="btn app-btn-toggle" role="button">
           <span>&#9658;</span><span class="hidden">&#10074;&#10074;</span>
        </a>
        <a id="clear" href="#" class="btn" role="button">
           &#8718;
        </a>
      </div>
      <div class="app-line">&nbsp;</div>
    </div>
  </div>

</div>
